@use "../../../scss/" as *;


.btn-submit {
    @include format-font(700, 1rem, 34px);
    background-color: $background-btn-form;
    margin-top: 1rem;
    border: none;
    width: 100%;
    color: #FFFBFB;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        background-color: $background-hoover-btn-form;
    }

}

.btn-sidebar {
    background-color: $background-btn-sidebar;
    width: 13rem;
    @include format-font(600, 0.8rem, 36px);
    border: none;
    border-radius: 0.4rem;
}

.btn-menu-dashboard {
    border: none;
    background-color: transparent;
}

.btn-send {
    @include format-font(600, 0.8rem, 20px);
    background-color: $background-btn-form;
    padding: 0.2rem 1.2rem;
    border: none;
    border-radius: 4px;
    color: #FFFBFB;
    cursor: pointer;
}

@media (max-width: 991.98px) { 
    
    .btn-sidebar {
        width: 8rem;
        @include format-font(400, 0.6rem, 24px);
        border-radius: 0.3rem;
    }
}

@media (max-width: 767.98px) { 
    
    .btn-sidebar {
        width: 3rem;
        background-color: transparent;
        @include format-font(600, 0.7rem, 12px);
        color: $color-text-sidebar;
    }
}

@media (max-width: 376px) { 
    .btn-submit {
        font-size: 0.8rem;
    }
    .btn-sidebar {
        @include format-font(600, 0.7rem, 12px);
    }
    .btn-send {
        @include format-font(400, 0.6rem, 20px);
        padding: 0.1rem 0.8rem;
    }
    

}