@use "../../../scss/" as *;


.btn-submit {
    background-color: $background-btn-form;
    margin-top: 2rem;
    border: none;
    width: 100%;
    font-weight: 700;
    font-size: 1rem;
    line-height: 34px;
    color: #FFFBFB;
    cursor: pointer;

}

.btn-sidebar {
    background-color: $background-btn-sidebar;
    width: 13rem;
    @include format-font(400, 0.7rem, 32px);
    border: none;
    border-radius: 0.5rem;
}

.btn-menu-dashboard {
    border: none;
    background-color: none;
}

@media (max-width: 376px) { 
    .btn-submit {
        font-size: 0.8rem;
    }
}