@use "../../scss/" as *;

.nav-dashboard {
    @include flex(flex-end, center);
    height: 4rem;
    margin-right: 3rem;
    width: 100%;
    background-color: transparent;
    .menu-options {
        margin-bottom: 0;
        li {
            a {
                @include format-font(600, 0.9rem, 42px);
                color: $color-text-form;
            }
        }
    }
}

@media (max-width: 991.98px) { 

    .nav-dashboard {
        margin-right: 1rem;
        .menu-options {
            li {
                a {
                    @include format-font(400, 0.8rem, 24px);
                }
                
            }
        }
    }
}

@media (max-width: 376px) { 

    .nav-dashboard {
        .menu-options {
            li {
                a {
                    @include format-font(400, 0.65rem, 42px);
                }
                
            }
        }
    }
}