@use '../../../scss/' as *;


.container-search {
     
    .input-search {
        border: 1px solid $background-border-input-order;
        outline: none;
        @include format-font(400, 0.9rem, 24px );
        padding: 0 8px;
        
    }
}

@media (max-width: 767.98px) { 
    .container-search {
        .search {
            .input-search {
                @include format-font(200, 0.6rem, 4px );
            }
        }
    }
    
}