@use "../../scss/" as *;


.container-sidebar {
    background-color: $background-sidebar;
    height: 100vh;
    @include flex(flex-start, center);
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    gap: 2rem;
    .company {
        @include flex(center, center);
        flex-direction: column;
        width: 90%;
        .logo-sidebar {
            width: 7rem;
        }
        .title-company {
            color: $color-text-form;
            @include format-font(600, 1.1rem, 24px);
            margin-bottom: 0;
        }
    }
    .text-sidebar {
        @include flex(center, center);
        flex-direction: column;
        color: $color-text-sidebar;
        font-style: normal;
        margin-bottom: 1.3rem;
    
        .text-username {
            @include format-font(400, 0.8rem, 16px);
            padding: 0 0.7rem;
            text-transform: capitalize;
            text-align: center;
            border-bottom: 1px solid $color-text-sidebar; 
            margin-bottom: 8px;
        
        }
        .text-role {
            @include format-font(600, 0.9rem, 4px);
            text-transform: capitalize;
        }
    }
    
    .button-group-sidebar {
        @include flex(center, center);
        flex-direction: column;
        gap: 1rem;
    }
   
}

@media (max-width: 991.98px) { 

    .container-sidebar {
        .logo-sidebar {
            width: 5rem;
        }
        .company {
            .logo-sidebar {
                width: 5rem;
            }
            .title-company {
                @include format-font(400, 1rem, 24px);
            }
        }
        .text-sidebar {
            .text-username {
                @include format-font(400, 0.9rem, 4px);
            }
            .text-role {
                @include format-font(400, 0.8rem, 4px);
            }
        }

        .button-group-sidebar {
            @include flex(center, center);
            flex-direction: column;
            gap: 0.5rem;
        }
    }
}

@media (max-width: 767.98px) { 

    .container-sidebar {
        @include flex(center, center);
        flex-direction: row;
        gap: 1rem;
        height: 10vh;
        .company {
            .logo-sidebar {
                @include flex(center, center);
                margin-top: 2rem;
                margin-bottom: 2rem;
                width: 3rem;
            }
            .title-company {
                display: none;
            }
        }

        .text-sidebar {
            .text-username {
                display: none;
            }
            .text-role {
                display: none;
            }
        }
    
        .button-group-sidebar {
            @include flex(center, center);
            flex-direction: row;
            gap: 0.5rem;
        }
    }
    
}

@media (max-width: 376px) { 

    .container-sidebar {
        @include flex(space-around, center);
        .logo-sidebar {
            width: 2rem;
        }
        .button-group-sidebar {
       
        }
    }
    
}

