@use '../../scss/' as *;

.sec-filter {
    @include flex (flex-end, center);
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
}

.table {
    background-color:white;
    
    th {
        @include format-font(600, 0.9rem, 16px );
    }
    td {
        @include format-font(400, 0.8rem, 12px );
      
    }
    .status {
        text-transform: capitalize;
        @include format-font(600, 0.9rem, 16px );
    }
    .checkMark {
        @include format-font(900, 1.2rem, 4px );

    }
}

@media (max-width: 768px) { 
    
    .sec-filter {
        padding: 2rem;
    }
    .table {
        th {
            @include format-font(600, 0.9rem, 16px );
        }
        td {
            @include format-font(400, 0.8rem, 14px );
          
        }
        .status {
            @include format-font(200, 0.8rem, 16px );
        }
    }
}


@media (max-width: 376px) { 
    
    .sec-filter {
        padding: 1rem;
    }
    .table {
        th {
            @include format-font(600, 0.8rem, 16px );
        }
        td {
            @include format-font(400, 0.7rem, 14px );
          
        }
        .status {
            @include format-font(700, 0.7rem, 16px );
        }
    }
}
