@use "./scss/" as *;


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
  min-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

// styles the form container section on different pages
.sec-form {
    @include flex(flex-start, center);
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

.sec-notify {
    .comp-request {
      @include flex(center, center);
      .form-request {
        border: 1px solid $background-border-input-order;
        border-radius: 8px;
        width: 50%;
      }
    }
}

// dashboard page styles
.pag-dashboard {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-wrap: wrap;

    .dashboard {
        @include flex(flex-start, center );
        flex-direction: column;
        background-color: $background-page-dashboard;
        padding: 1rem 0;

        .container-dashboard {
          width: 95%;
          min-height: 95%;
          background-color: $background-container-dashboard;
          border: 1px solid $background-sidebar;
          border-radius: 6px;

          .title-page {
            @include flex(center, center );
            padding-top: 1rem;
            background-color: $background-sidebar;
            margin-bottom: 1rem;
            
            h1 {
              @include format-font(600, 1.8rem, 48px);
              color: $color-text-sidebar;
            }
          }
        }
    }
}

@media (max-width: 991.98px) { 
 
  .pag-dashboard {
    .dashboard {
        .container-dashboard {
          .title-page { 
            h1 {
              @include format-font(600, 1.5rem, 48px);
            }
          }
        }
    }
  }
  
}

@media (max-width: 767.98px) { 
  .sec-notify {
    .comp-request {
      .form-request {
        width: 80%;
      }
    }
  }
}

@media (max-width: 376px) { 
 
  .sec-notify {
    .comp-request {
      .form-request {
        width: 90%;
      }
    }
  }
  .pag-dashboard {
    .dashboard {
      padding: 0;
        .container-dashboard {
          .title-page { 
            h1 {
              @include format-font(400, 1.1rem, 48px);
            }
          }
        }
    }
  }
  
}