// form variable
$color-text-form: rgba(0, 0, 0, 1);
$color-text-form-question: rgba(108, 103, 103, 0.911);
$background-btn-form: rgba(15, 24, 255, 1);
$background-hoover-btn-form: rgb(62, 68, 221);
$background-input: rgba(217, 217, 217, 1);


// dashboard variable
$background-sidebar: #497174;
$color-text-sidebar: rgba(255, 255, 255, 1);
$background-btn-sidebar: rgba(217, 217, 217, 1);
$background-container-dashboard: white;
$background-page-dashboard: white;


//table variable
$background-table:  rgb(248, 247, 247);
$background-view: rgba(15, 24, 255, 1);

//select variable
$color-text-view: rgb(223, 215, 215);
$color-text-option: rgb(97, 95, 95);
$background-color-search: transparent;


$background-input-order: rgba(232, 240, 254, 0.089);
$background-border-input-order: rgba(61, 60, 60, 0.39);
$color-text-check: blue;
